{% if inspections %}
    <h2> Inspections</h2>
    <ul>
    {% for inspection in inspections %}
        <li><span>Inspection Name: {{inspection.name}}</span></li>
        <li><span>Inspection Date: {{ inspection.date}} </span></li>
        <li><span>Violations: {{ inspection.violations }} </span></li>
        <li><span>Restaurant: {{inspection.restaurant.name}} </span></li>
        <li><span>Last crawled at: {{ inspection.last_updated }} </span></li>
       <hr />
    {% endfor %}
    </ul>
{% else %}
    <p>No restaurants are available.</p>
{% endif %}
