{% if restaurants %}
    <h2> Restaurants </h2>
    <ul>
    {% for restaurant in restaurants %}
        <li><a href="/inspections/{{ restaurant.id }}/">{{ restaurant.name }}</a></li>
        <hr />
    {% endfor %}
    </ul>
{% else %}
    <p>No restaurants are available.</p>
{% endif %}
